<h1>Articles</h1>
<h3>Click on a headline to leave a comment </h3>

<ul>
    {{#each collection.data}}
    <li>
        <h3 data-toggle="modal" data-target="#exampleModal" class="article__title" data-id={{this._id}}>
            {{this.title}}
        </h3>
        <p class="body__text">
            {{this.summary}}
        </p>
        <a href={{this.url}} type="button" class="btn btn-link">Full Article</a>
    </li>
    {{/each}}
</ul>


{{!-- MODAL --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Subject:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Comment:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <hr />
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            {{!-- <h1 class="display-4">Fluid jumbotron</h1> --}}
                            <p class="lead commentSection"></p>
                            {{!-- <p>{{collection.response}}</p> --}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="submit" class="btn btn-primary" data-dismiss="modal">Add Comment</button>
            </div>
        </div>
    </div>
</div>